<% include ./partials/header%>
<form>
    <div class="field">
                <label>Add Comment</label>
                <textarea name="comments[text]"></textarea>
    </div>
    <input class="positive ui button" type="submit"> 
</form>