<link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type= "text/css" href="/stylesheets/app.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="ui middle aligned center aligned grid">
  <div class="column form">
    <h2 class="ui image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form action="/login" method="POST" class="ui large form ">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button" type="submit">Login</button>
    
      </div>
        <div class="ui message">
  <p><i class="icon help"></i>New User?  <a href="/register"> SignUp here</a> instead.</p>
</div>
</form>